.teamlogo {
    max-width: 40px;
    max-height: 40px;
}

.centerDivContainer {
    display: inline-flex;
    place-items: center;
}

.teamPickContainer {
    display: inline-flex;
    place-items: center;
    /* Centers both horizontally and vertically */
    max-height: 40px;
    /* Set the height of the container */
    max-width: 40px;
}

.teamPickContainer img {
    max-height: 100%;
    /* Ensures the image fits within the container */
    max-width: 100%;
}

.teamPickContainer div {
    margin-left: 5px;
}

.makePickContainer {
    font-size: medium;
}

.makePickContainerSmall {
    font-size: small;
}

.teamPickContainerSmall {
    display: inline-flex;
    place-items: center;
    /* Centers both horizontally and vertically */
    max-height: 20px;
    /* Set the height of the container */
    max-width: 20px;
}

.teamPickContainerSmall img {
    max-height: 100%;
    /* Ensures the image fits within the container */
    max-width: 100%;
}

.teamPickContainerSmall div {
    margin-left: 5px;
}

.submitPicksButton {
    margin-right: 10px;
}

.HomeTeam,
.AwayTeam {
margin-left: 1px;
margin-right: auto;
margin-top: 1px;
text-align: left;
padding: 0px 5px;
width: 60px;
}

.HomeScore,
.AwayScore {
float: right;
margin-right: 1px;
width: 15px;
}

.HomeTeam {
border-bottom: solid;
}

.PickStatus,
.CurrentUserScore {
font-weight: 700;
}

.CurrentUserScore,
.UserPick {
text-align: center;
}

.Spread,
.GameStatus {
text-align: center;
}

.GameStatus {
font-size: 70%;
}

.PickSuccess {
color: green;
font-weight: 700;
}

.PickFailure {
color: red;
font-weight: 700;
}

.IconPickSuccess {
}

.IconPickFailure {
filter: grayscale(1);
}

.GameHeader {
font-weight: 700;
}

.GameFinal {
background-color: #474747;
color: white;
}

.superscript {
vertical-align: super;
position: relative;
top: -0.5em;
font-size: 60%;
display: inline;
}

.TeamIconHeader {
max-width: 40px;
max-height: 40px;
width: auto;
height: auto;
}

.TeamIconHeaderDiv {
width: 40px;
height: 40px;
}

.TeamIconPick {
max-width: 30px;
max-height: 30px;
width: auto;
height: auto;
}

.TeamIconPickDiv {
width: 30px;
height: 30px;
}

.standingsUserName {
    font-size: small;
}

.NavigationBreadcrumbs {
    padding-right: 1ch;
}

.NavigationBreadcrumbsContainer {
    display: flex;
}